/* pages/order/order.wxss */

.nav-bar-container{
  background-color: rgb(245, 178, 178) !important;
}

// 订单列表

.order-list{
  padding: 25rpx;
  
  .order-item{
    border-radius: 30rpx;
    background-color: #fafafa;
    box-shadow: 2rpx 2rpx 4rpx #747272;
    margin: 0 0 30rpx;
    .header{
      font-size: 24rpx;
      padding: 5rpx 30rpx;
      display: flex;
      justify-content: space-between;
      height: 40rpx;
      line-height: 40rpx;
    }
    .order-price{
      color: gray;
      font-size: 32rpx;
    }
    .price{
      font-size: 32rpx;
      color: rgb(117, 17, 17);
    }
  }
}