.index-container {
  position: relative;
  padding: 0 25rpx;

  .background-top {
    background-color: yellowgreen;
    width: 100%;
    height: 180rpx;
    border-bottom-left-radius: 30rpx;
    border-bottom-right-radius: 30rpx;
    position: absolute;
    top: 0;
    left: 0;
  }

  .swiper-container {
    width: 690rpx;
    height: 331.2rpx;

    swiper-item {
      width: 100%;
      height: 100%;
      border-radius: 30rpx;

      image {
        width: 100%;
        height: 100%;
        border-radius: 30rpx;
      }
    }
  }

  // 快捷链接列表
  .index-link-list {
    background-color: #fff;
    box-shadow: 2rpx 2rpx 4rpx #663a3a;
    border: 2rpx solid #d6d2d2;
    border-radius: 12rpx;
    margin-top: 10rpx;
    padding: 20rpx 0;
    width: 100%;
    display: grid;
    grid-template-rows: 140rpx 140rpx;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20rpx;
    column-gap: 30rpx;

    .link-item-index {
      text-align: center;
      image {
        width: 100rpx;
        height: 100rpx;
        object-fit: cover;
      }
      text{
        line-height: 40rpx;
        font-size: 24rpx;
      }
    }
  }

  // 推荐展示
  .recommend{
    width: 100%;
    height: 400rpx;
    box-sizing: border-box;
    margin-top: 16rpx;
    border-radius: 16rpx;
    border: 2rpx solid #cfcccc;
    box-shadow: 2rpx 2rpx 4rpx #663a3a;
    .right-big-pic{
      box-sizing: border-box;
      padding: 10rpx 5rpx;
      padding-right: 0;
      float: left;
      width: 50%;
      height: 100%;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .left-small-pic{
      width: 50%;
      height: 100%;
      padding: 10rpx 10rpx;
      padding-left: 0;
      box-sizing: border-box;
      float: right;
      image{
        width: 100%;
        height: 49%;
      }
    }
  }

  // 猜你喜欢
  .love-good{
    .title{
      text-align: center;
      padding: 6rpx 0;
      text{
        font-size: 40rpx;
        font-weight: 600;
      }
    }
    .guess-your-love{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: auto;
      column-gap: 10rpx;
      row-gap: 10rpx;
    }

    // 查看更多
    .button-get-more{
      height: 70rpx;
      width: 100%;
      background-color: #fff;
      margin-top: 10rpx;
      border-radius: 45rpx;
      text-align: center;
      .nav-get-more{
        height: 100%;
        border-radius: 45rpx;
        line-height: 60rpx;
        font-size: 32rpx;
      }

      .nav-get-more-hover{
        color: #3a8d26;
      }
    }
  }
  
}