.address {
  padding: 20rpx;
}

.save-btn {
  width: 85%;
  margin-top: 80rpx;
  background-color: #9acd32;
  border-radius: 60rpx;
  color: #fafafa;
  margin: 0 auto;
}

.place-class {
  color: #d3c9cf;
}
