/* pages/good/goodslist/goodslist.wxss */

.more-info{
  border-top: 2rpx solid #918989;
  color: #a33b3b;
  text-align: center;
  height: 100rpx;
  line-height: 80rpx;
}

.container-goodlist{
  padding: 0 25rpx;
}